/************************************************************************************
/  STATUS PANEL
/************************************************************************************/

.lims-muc .status-panel {

  .panel-window .status {
    background: #ffffff;
    display: block;
    font-size: 12px;
  }
}

