/************************************************************************************
**   PRESENCE PANEL
*************************************************************************************/

.lims-muc .status-panel {

  .panel-trigger .trigger-name {
    width: 20px;
    height: 24px;
  }

  .panel-window {
    min-width: 150px;
  }

  .status-indicator {
    margin-left: 6px;
    margin-top: 7px;
  }

  ////////////////////////////////
  // STATUS INDICATOR           //
  ////////////////////////////////

  .panel-window .status {

    li {
      padding: 10px 5px 10px 3px;
      cursor: pointer;
      line-height: 15px;
      // Make the button unselectable
      @include no-select();
    }

    li:hover {
      background-color: #f3f3f3;
    }

    .status-indicator {
      display: inline-block;
      margin-right: 4px;
    }
  }
}