//////////////////////////////////////////////////////////////////////
// WHITE THEME
//////////////////////////////////////////////////////////////////////

$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;


// Height of the bar based on device
$bar-height-desktop-device: 24px;
$bar-height-mobile-device: 40px;
